<!-- Google AdSense -->
{{ with site.Params.google_adsense }}
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-{{ . }}"
    crossorigin="anonymous"></script>
{{ end }}


<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-03PSTN4ES1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-03PSTN4ES1");
</script>
