<div>
  <img src="/images/blog/lazytoberich.svg" alt="收聽懶得變有錢Podcast">
  <h2>👉收聽懶得變有錢Podcast</h2>
  {{ partial "components/podcast-player.html" . }}

  <p>👉前往spotify收聽懶得變有錢<br>
  <a href="https://open.spotify.com/show/0VOxVD8igXWWJLFCtQxhdN">
    <img src="/images/podcast/spotify.png" alt="前往spotify收聽懶得變有錢">
  </a>
  </p>

  <p>👉前往youtube收聽懶得變有錢<br>
  <a href="https://www.youtube.com/channel/UC1aV8nIJxkE0s6bWdKQvtUQ">
    <img src="/images/podcast/youtube.png" alt="前往youtube收聽懶得變有錢">
  </a>
  </p>


  <p>👉前往查看推薦書單<br>
  <a href="/reading_list/">
    <img src="/images/reading_list/reading_list.png" alt="查看財務規劃書單">
  </a>
  </p>
</div>
