{{/* FAQ 頁面的結構化資料 */}}
{{- if .Params.faq -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "@id": "{{ .Permalink }}#faq",
  "mainEntity": [
    {{- range $index, $item := .Params.faq -}}
      {{- if $index -}}, {{ end -}}
      {
        "@type": "Question",
        "name": {{ $item.question | jsonify }},
        "acceptedAnswer": {
          "@type": "Answer",
          "text": {{ $item.answer | jsonify }}
        }
      }
    {{- end -}}
  ]
}
</script>
{{- end -}}
