{{/* 組織和作者資訊的結構化資料 */}}
{{- $socialLinks := slice -}}
{{- with site.Params.social -}}
  {{- with .facebook -}}
    {{- $socialLinks = $socialLinks | append . -}}
  {{- end -}}
  {{- with .instagram -}}
    {{- $socialLinks = $socialLinks | append . -}}
  {{- end -}}
  {{- with .discord -}}
    {{- $socialLinks = $socialLinks | append . -}}
  {{- end -}}
  {{- with .youtube -}}
    {{- $socialLinks = $socialLinks | append . -}}
  {{- end -}}
{{- end -}}

{{- $founder := dict "@type" "Person" "@id" (printf "%s#founder" site.BaseURL) "name" "懶大" "description" "財務規劃專家，專注於協助民眾建立正確的理財觀念" "url" (printf "%sauthors/懶大/" site.BaseURL) -}}
{{- if $socialLinks -}}
  {{- $founder = merge $founder (dict "sameAs" $socialLinks) -}}
{{- end -}}

{{- $organization := dict "@context" "https://schema.org" "@type" "Organization" "@id" (printf "%s#organization" site.BaseURL) "name" site.Title "alternateName" "懶得變有錢" "url" site.BaseURL -}}
{{- $organization = merge $organization (dict "logo" (dict "@type" "ImageObject" "url" (site.Params.logo | default "/favicon.png" | absURL) "width" 512 "height" 512)) -}}
{{- $organization = merge $organization (dict "image" (dict "@type" "ImageObject" "url" ("/images/og-lazytoberich.png" | absURL) "width" 1200 "height" 630)) -}}
{{- $organization = merge $organization (dict "description" (site.Params.meta_description | default "專業的財務規劃和理財教育平台，提供實用的投資理財知識與策略")) -}}
{{- $organization = merge $organization (dict "foundingDate" "2023") -}}
{{- $organization = merge $organization (dict "founder" $founder) -}}
{{- if $socialLinks -}}
  {{- $organization = merge $organization (dict "sameAs" $socialLinks) -}}
{{- end -}}
{{- $organization = merge $organization (dict "contactPoint" (dict "@type" "ContactPoint" "contactType" "customer service" "availableLanguage" "zh-TW" "url" (printf "%scontact/" site.BaseURL))) -}}

<script type="application/ld+json">
  {{
    -
    $organization
    |
    jsonify
    (dict
    "indent"
    "  "
    )
    |
    safeJS
    -
  }}
</script>
