{{/* 網站基本資訊的結構化資料 */}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "@id": "{{ site.BaseURL }}#website",
  "url": "{{ site.BaseURL }}",
  "name": {{ site.Title | jsonify }},
  "alternateName": "懶得變有錢",
  "description": {{ site.Params.meta_description | default "帶你了解財務規劃本質，鑑定自己的財務DNA" | jsonify }},
  "inLanguage": "zh-TW",
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "{{ site.BaseURL }}search?q={search_term_string}"
    },
    "query-input": "required name=search_term_string"
  },
  "publisher": {
    "@type": "Organization",
    "@id": "{{ site.BaseURL }}#organization",
    "name": {{ site.Title | jsonify }},
    "url": "{{ site.BaseURL }}",
    "logo": {
      "@type": "ImageObject",
      "url": {{ (site.Params.logo | default "/favicon.png" | absURL) | jsonify }},
      "width": 512,
      "height": 512
    },
    "sameAs": [
      {{- $socialLinks := slice -}}
      {{- with site.Params.social -}}
        {{- with .facebook -}}
          {{- $socialLinks = $socialLinks | append . -}}
        {{- end -}}
        {{- with .instagram -}}
          {{- $socialLinks = $socialLinks | append . -}}
        {{- end -}}
        {{- with .discord -}}
          {{- $socialLinks = $socialLinks | append . -}}
        {{- end -}}
        {{- with .youtube -}}
          {{- $socialLinks = $socialLinks | append . -}}
        {{- end -}}
      {{- end -}}
      {{- range $index, $link := $socialLinks -}}
        {{- if $index -}}, {{ end -}}{{ $link | jsonify }}
      {{- end -}}
    ]
  }
}
</script>