{{ define "main" }}
  <section class="section pt-7">
    <div class="container">
      <div class="row justify-center">
        <div class="mb-4">
          <!-- Breadcrumb -->
          {{ partial "components/breadcrumb.html" . }}
        </div>
        <article class="lg:col-10">
          {{/* Display post image if available */}}
          {{ $image:= .Params.image }}
          {{ if $image }}
            <div class="mb-10">
              {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "w-full rounded") }}
            </div>
          {{ end }}
          <!-- Post Title -->
          <h1 class="h2 mb-4">
            {{ .Title }}
          </h1>
          <!-- Post-meta -->
          <ul class="mb-4">
            <!-- Author -->
            <li class="mr-4 inline-block">
              <a
                href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">
                <i class="fa-regular fa-circle-user mr-2"></i
                >{{ .Params.author }}
              </a>
            </li>
            <!-- Categories -->
            {{ $categories:= .Params.categories }}
            {{ if $categories }}
              <li class="mr-4 inline-block">
                <i class="fa-regular fa-folder mr-2"></i>
                {{ range $i,$p:= $categories }}
                  <a
                    href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
                    class=""
                    >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
                      {{ "," }}
                    {{ end }}
                  </a>
                {{ end }}
              </li>
            {{ end }}
            <!-- Last Updated Date -->
            <li class="mr-4 inline-block">
              <i class="fa-regular fa-clock mr-2"></i>
              {{ T "last_updated_on" }} {{ time.Format ":date_long" .Lastmod }}
            </li>
            <!-- Reading Time -->
            <li class="mr-4 inline-block">
              <i class="fa-solid fa-stopwatch mr-2"></i>
              {{ .ReadingTime }} {{ T "reading_time" }}
            </li>
          </ul>
          <!-- Post Content -->
          <div class="content mb-10">
            <!-- Table of Contents -->
            {{ partial "toc.html" (dict "Class" "blog" "Collapsed" false "TableOfContents" .TableOfContents ) }}
            {{ .Content }}
            <!-- Podcast footer partial -->
            {{ partial "podcast-footer.html" . }}
          </div>
          <!-- Tags and Social Share -->
          <div class="row items-start justify-between">
            <!-- Tags -->
            {{ $tags:= .Params.tags }}
            {{ if $tags }}
              <div class="lg:col-5 mb-10 flex items-center lg:mb-0">
                <h5 class="mr-3">{{ T "tags" }} :</h5>
                <ul>
                  {{ range $tags }}
                    <li class="inline-block">
                      <a
                        class="bg-theme-light hover:bg-primary dark:bg-darkmode-theme-light dark:hover:bg-darkmode-primary dark:hover:text-dark m-1 block rounded px-3 py-1 hover:text-white"
                        href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/">
                        {{ . | humanize }}
                      </a>
                    </li>
                  {{ end }}
                </ul>
              </div>
            {{ end }}
            <!-- Social Share links -->
            <div class="lg:col-5 flex items-center">
              <h5 class="mr-3">{{ T "fallow" }} :</h5>
              <ul class="social-icons">
              {{ range site.Data.social.main}}
                <li>
                  <a
                    target="_blank"
                    aria-label="{{ .name }}"
                    rel="nofollow noopener"
                    href="{{ .link | safeURL }}">
                    <i class="{{ .icon }}"></i>
                  </a>
                </li>
            {{ end }}
            </ul>
            </div>
          </div>
          <!-- Disqus Comments (currently commented out) -->
          <!-- {{ if site.Config.Services.Disqus.Shortname }}-->
          <!--   <div class="mt-20">-->
          <!--     {{ template "_internal/disqus.html" . }}-->
          <!--   </div>-->
          <!-- {{ end }}-->
          {{- $schema := dict "@context" "https://schema.org" "@type" "BlogPosting" -}}
          {{- $schema = merge $schema (dict "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)) -}}
          {{- $schema = merge $schema (dict "headline" .Title) -}}
          {{- $schema = merge $schema (dict "description" .Description) -}}
          {{- with .Params.image -}}
            {{- $schema = merge $schema (dict "image" ( . | absURL )) -}}
          {{- end -}}
          {{- $schema = merge $schema (dict "datePublished" (.PublishDate.Format "2006-01-02T15:04:05Z07:00")) -}}
          {{- $schema = merge $schema (dict "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")) -}}
          {{- $author := dict "@type" "Person" "name" .Params.author "url" (printf "%s%s/" ("authors/" | relLangURL) (.Params.Author | urlize)) -}}
          {{- $schema = merge $schema (dict "author" $author) -}}
          {{- $publisher := dict "@type" "Organization" "name" site.Title "logo" (dict "@type" "ImageObject" "url" (site.Params.logo | absURL)) -}}
          {{- $schema = merge $schema (dict "publisher" $publisher) -}}
          {{- with .Params.categories -}}
            {{- $schema = merge $schema (dict "articleSection" (index . 0)) -}}
          {{- end -}}
          {{- with .Params.tags -}}
            {{- $schema = merge $schema (dict "keywords" (delimit . ", ")) -}}
          {{- end -}}
          {{- $schema = merge $schema (dict "wordCount" .WordCount) -}}

          {{/* If it's a book review, add review schema */}}
          {{ if and (in .Params.categories "閱讀心得") .Params.rate }}
            {{ $ratingValue := len (findRE "⭐" .Params.rate) }}
            {{ if gt $ratingValue 0 }}
              {{ $bookTitle := .Title }}
              {{ with findRE "《([^》]+)》" .Title }}
                {{ $bookTitle = index . 0 | strings.TrimPrefix "《" | strings.TrimSuffix "》" }}
              {{ end }}
              {{ $review := dict
                "review" (dict
                  "@type" "Review"
                  "reviewRating" (dict
                    "@type" "Rating"
                    "ratingValue" $ratingValue
                    "bestRating" "5"
                  )
                  "author" (dict
                    "@type" "Person"
                    "name" $.Params.author
                  )
                  "itemReviewed" (dict
                    "@type" "Book"
                    "name" $bookTitle
                  )
                )
              -}}
              {{ $schema = merge $schema $review -}}
            {{ end }}
          {{ end }}

          <script type="application/ld+json">
          {{- $schema | jsonify (dict "indent" "  ") -}}
          </script>
        </article>
      </div>

      <!-- Related posts -->
      {{ $curr := . }}
      {{ $sameCategoryPosts := slice }}

      <!-- 1. Find posts with same categories -->
      {{ with .Params.categories }}
        {{ range . }}
          {{ $category := . }}
          {{ $categoryPosts := where site.RegularPages ".Params.categories" "intersect" (slice $category) }}
          {{ $sameCategoryPosts = $sameCategoryPosts | union $categoryPosts }}
        {{ end }}
      {{ end }}

      <!-- Remove current post from category matches -->
      {{ $sameCategoryPosts = where $sameCategoryPosts "Title" "ne" $curr.Title }}

      <!-- 2. From posts with same categories, find those with matching tags -->
      {{ $relatedPosts := slice }}
      {{ with .Params.tags }}
        {{ range . }}
          {{ $tag := . }}
          {{ $tagMatches := where $sameCategoryPosts ".Params.tags" "intersect" (slice $tag) }}
          {{ $relatedPosts = $relatedPosts | union $tagMatches }}
        {{ end }}
      {{ end }}

      <!-- 3. Sort by date (newest first) and get first 3 -->
      {{ $finalPosts := $relatedPosts | first 3 }}

      {{ if gt (len $finalPosts) 0 }}
        <div class="mt-20">
          <h2 class="h3 mb-8 text-center">{{ T "related_posts" }}</h2>
          <div class="row justify-center">
            {{ range $finalPosts }}
              <div class="lg:col-4 mb-5">
                {{ partial "components/blog-card.html" . }}
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
